<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Deploy</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

</head>
<body>
    
</body>
</html>

<h1>Hello World</h1>
<h2>Esse é meu primeiro deploy</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium est culpa expedita sequi eos reiciendis saepe dolor, quia voluptatum sint, ipsam aspernatur, provident laborum velit perspiciatis necessitatibus atque error. Delectus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum minima molestiae similique quam possimus alias. Odio soluta nulla, labore modi, hic itaque, temporibus dolorum qui tenetur rem sint sit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sequi consequuntur sint, recusandae impedit sapiente. Magnam quas modi tenetur at repellendus optio voluptatem, asperiores consequatur impedit laboriosam saepe ad. Culpa.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ipsam dolore nemo sapiente maxime nulla ex. Cupiditate unde aspernatur nam reiciendis quibusdam explicabo id sit, officia consequuntur! Enim, reprehenderit veniam.</p>
