/* style.css */

/* Reset de estilos */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para o corpo da página */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* Estilos para o cabeçalho h1 */
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilos para o subcabeçalho h2 */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilos para os parágrafos */
  p {
    margin-bottom: 10px;
  }
  
  /* Estilos para a lista não ordenada (ul) */
  ul {
    list-style-type: disc;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  
  /* Estilos para a lista ordenada (ol) */
  ol {
    list-style-type: decimal;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  
  /* Estilos para os itens de lista (li) */
  li {
    margin-bottom: 5px;
  }
  
  /* Estilos para o rodapé */
  footer {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    color: #fff;
  }
  